

@{
    ViewData["Title"] = "Place names";
}

<div class="text-center">
    <h1 class="display-4">Places controller</h1>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>


@section scripts {

}
